.game {
    position: relative;
}

.game__button {
    position: absolute;
    top: 3vh;
    left: 3%;
    right: 0;
}

.flex {
    margin: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}


